PORT=5000
MONGODB_URI=mongodb://localhost:27017/ai-job-tracker
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Groq Cloud API Key
GROQ_API_KEY=

# Frontend URL Fix
CLIENT_URL=https://ai-job-tracker-frontend.netlify.app
